@import './styles/colors.scss';

$base-font: 'CerebriSans', -apple-system, BlinkMacSystemFont, sans-serif;

$layout-breakpoint-small: 500px;

$layout-breakpoint-medium: 990px;

body {
  margin: 0;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin content {
  width: 80%;
  margin: 0 auto;

  @media all and (max-width: $layout-breakpoint-small) {
    width: 100%;
  }
}
